 .hidden{
      width:0px;
      height:0px;
      visibility: hidden;
  }

 .full-view{
     width:100%;

 }

 .menuElement.button{
     cursor:pointer;

 }

 .menuElement.button:hover{
     background:steelblue;
 }

 .menuElement.button:active{
     background:blueviolet;
 }

