html,body,#wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.SOL {
    fill: #33b5e5;

}

.subjectiveFeatureSelected{
    opacity:0.5;
}

.subjectiveFeatureValue{
    opacity:0;

}


.subjectiveFeatureSelected text{
    fill:white;
    opacity:1;

}

.WASO {
    fill: #CC0000;
}

.EMA {
    fill: #669900;
}



.SLEEP {
    fill: #ffbb33;
}

.TST {
    fill: #ffbb33;
}


.nightmare{
    fill: black;
}

.toilet{
    fill:violet;
}

.light_off{
    fill:grey;
}

.M{
    fill:#0000b4;
}

.C{
    fill:#0082ca;
}

.A{
    fill:#0094ff;
}

.Sport{
    fill:#0d4bcf
}

.Dutjes{
    fill:#0066AE
}

.Fat_Food{
    fill:#0066AA
}






